# macOS
.DS_Store
.localized

# Compiled files
__pycache__/
*.pyc

# Egg and packaging
*.egg-info/
build/
dist/

# SQLite DB
*.sqlite3

# IDE settings (optional)
.vscode/
.idea/

# Logs
.logs/
*.log

# Django secrets
.env
.env.*

# Testing
htmlcov/
.coverage
